form {
  margin: 15px;
  padding:20px;
  background-color: rgb(177, 177, 177);
}
.inputs{
  padding:20px;
}
.full-width{
  width: 100%;
}
::ng-deep .mat-select-value-text {
  color:#832ab7;
  font-size: 18px;
  font-weight: bold;
}
mat-card-title  {
  align-items: center;
  display: flex;
}
.mat-icon {
  transform: scale(1);
  width: 32px;
  height: 32px;
}

// .full-width {
//   width: 100%;
// }
.dollar{
  padding-top: 10px;
  font-family: arial;
  font-size: 17px;
  color: #0cb983;
  font-weight: bold;
}
