<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="signupForm"  dir="rtl">
  <div style="background-color: rgb(255, 255, 255);   border-radius: 5%;">
  <div fxLayout="column" fxLayoutAlign="center center" style="width: 400px;"  class="inputs">
    <!-- miner Selection -->
    <mat-form-field fxFlex class="slectedValue full-width"  dir="rtl" >
      <mat-label  >انتخاب دستگاه</mat-label>
      <mat-select  type="number" [formControl]="device"   dir="rtl">
        <mat-option class="not-empty-select" *ngFor="let miner of miners"  type="number"  [value]="miner" >{{miner.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- motor Selection    -->
    <mat-form-field fxFlex class="full-width"  dir="rtl" >
      <mat-label  >انتخاب موتور-ژنراتور</mat-label>
      <mat-select  type="number" [formControl]="generator"   dir="rtl">
        <mat-option *ngFor="let gen of generators"  type="number"  [value]="gen" >{{gen.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center"  class="inputs">
    <div  fxLayout="row"  fxLayoutGap="2px"  >
      <!-- incom -->
      <mat-card fxFlex="35">
        <mat-card-title  fxLayoutAlign="space-around center">
          درآمد ماهانه 
      </mat-card-title>
      <mat-card-content  fxLayout="column" fxLayoutAlign="space-around center">
        <ng-container  *ngIf="{ count:1000*generator.value.contPower/device.value.consumption | number:'1.0-0' } as variable">
          <p class="dollar">{{variable.count*30*device.value.hashrate*bitcoin.value*btc.value | currency :'IRR':''}} $</p>
          <p >{{variable.count*30*device.value.hashrate*bitcoin.value*btc.value*dollar.value | currency :'IRR':''}} تومان</p>
        </ng-container> 
      </mat-card-content>
    </mat-card>
    <!-- incom details   -->
    <mat-card fxFlex="60" >
      <mat-card-content>
    <div >
      <ng-container  *ngIf="{ count:1000*generator.value.contPower/device.value.consumption | number:'1.0-0' } as variable">
        <p fxFlexAlign="start">توان دائم کار: {{generator.value.contPower}}کیلووات</p> 
        <p fxFlexAlign="start">جریان تکفاز: {{generator.value.slCurrent}}آمپر</p> 
        <p fxFlexAlign="start">تعداد دستگاه ها:{{variable.count}}</p>
        <p fxFlexAlign="start">تراهش: {{device.value.hashrate}}Th/s</p> 
        <p fxFlexAlign="start"> مصرف: {{device.value.consumption}}w</p> 
        <p fxFlexAlign="start">درآمدزایی ماهانه یک دستگاه(تومان): {{30*device.value.hashrate*bitcoin.value*btc.value*dollar.value | currency :'IRR':''}}</p>
      </ng-container> 
    </div>
    
      </mat-card-content>
    </mat-card>
  </div>
  
  <div  fxLayout="row" fxLayoutGap="2px" style="padding-top: 2px;">
    <!-- cryproCurrency Info -->
    <mat-card fxFlex="35"  >
      <mat-card-title  fxLayout="column" fxLayoutAlign="space-around center">
        قیمت فعلی BTC
      </mat-card-title>
      <mat-card-content  fxLayout="column" fxLayoutAlign="space-around center">
        <ng-container  *ngIf="{ count:1000*generator.value.contPower/device.value.consumption | number:'1.0-0' } as variable">
          <p class="dollar">{{bitcoin.value }} $</p>
          <p >{{bitcoin.value*dollar.value | currency :'IRR':''}} تومان</p>
        </ng-container> 
      </mat-card-content>
    </mat-card>
  <!-- Detail Information    -->
  <mat-card fxFlex="60" dir="rtl">
    <mat-card-title>
      <mat-icon  matPrefix svgIcon="usd">
      </mat-icon>
      &nbsp;اطلاعات ارز    
    </mat-card-title>
    <mat-card-content class="Input-form" >
      <P> قیمت روز دلار: {{dollar.value }} (تومان)</P>
      <P> پاداش استخراج: {{btc.value}} (btc)</P>
    </mat-card-content >
    <mat-card-actions>
      <button mat-button  [disabled]="loading" (click)="onReset()" color="primary"> بازنشانی</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>
</form>