body{
  display: flex;
}
.Input-form{
  display: flex;
}
form {
  margin-right:250px; 
  margin-left:250px;
  padding:20px;
  border-radius: 5%;
  background-color: rgb(192, 192, 192);
}

::ng-deep .mat-select-value-text {
  color:#832ab7;
  font-size: x-large;
  font-weight: bold;
}
mat-card-title  {
  align-items: center;
  display: flex;
}
.mat-icon {
  transform: scale(1);
  width: 32px;
  height: 32px;
}

.full-width {
  width: 100%;
}
.dollar{
  padding-top: 10px;
  font-family: arial;
  font-size: 24px;
  color: #0cb983;
  font-weight: bold;

  animation: counter 5s linear infinite alternate;

}
.my-card{
  width: 50%;
  margin-bottom: 20px;
}
:host {
  margin: 15px ;
}